form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 350px;
    font-family: cursive;
    background: crimson;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
label {
    font-size: 20px;
}
input {
    font-size: 16px;
    padding: 8px;
    border-radius: 0px 10px 10px;
    background: #ffb39d;
}
#getWeather {
    margin: auto;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    background: lightseagreen;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#weather {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 350px;
    background: coral;
    padding: 10px;
    margin-top: -10px;
    border-radius: 0px 0px 10px 10px;
}